<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form action="/api/member/addmember" method="POST" enctype="multipart/form-data">

    <label for="fname">studentType</label><br>
    <input type="text" id="fname" name=" studentType" ><br>

    <label for="lname">firstName</label><br>
    <input type="text" id="lname" name="firstName"><br><br>

    <label for="lname">lastName</label><br>
    <input type="text" id="lname" name="lastName"><br><br>

    <label for="File">status</label><br>
    <input type="text" id="lname" name="status"><br><br>

    <label for="File">dob</label><br>
    <input type="text" id="lname" name="dob"><br><br>
    
    <label for="File">age</label><br>
    <input type="text" id="lname" name="age"><br><br>
    
    <label for="File">gender</label><br>
    <input type="text" id="lname" name="gender"><br><br>

    <label for="File">email</label><br>
    <input type="text" id="image" name="email"><br><br>

    <label for="File">primaryPhone</label><br>
    <input type="text" id="image" name="primaryPhone"><br><br>

    <label for="File">secondaryNumber</label><br>
    <input type="text" id="image" name="secondaryNumber"><br><br>

    <label for="File">address</label><br>
    <input type="text" id="image" name="address"><br><br>

    <label for="File">country</label><br>
    <input type="text" id="image" name="country"><br><br>

    <label for="File">state</label><br>
    <input type="text" id="image" name="state"><br><br>

    <label for="File">zipPostalCode</label><br>
    <input type="text" id="image" name="zipPostalCode"><br><br>

    <label for="File">memberprofileImage</label><br>
    <input type="file" id="image" name="memberprofileImage"><br><br>
    
    <input type="submit" value="Submit">
  </form> 
  
</body>
</html>