<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form action="/api/createticket" method="POST" enctype="multipart/form-data">
    
    <label for="fname">subject</label><br>
    <input type="text" id="fname" name="subject" ><br>

    <label for="lname">type</label><br>
    <input type="text" id="lname" name="type"><br><br>

    <label for="lname">location</label><br>
    <input type="text" id="lname" name="location"><br><br>

    <label for="File">discription</label><br>
    <input type="text" id="lname" name="description"><br><br>

    <label for="File">attechment</label><br>
    <input type="file" id="image" name="image"><br><br>

    <input type="submit" value="Submit">
  </form> 
  
</body>
</html>